* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
#dropdown-basic::after {
  display: none;
}

.dropdown-menu {
  min-width: 14px !important;
  border-radius: 0 !important;
  font-size: 0.9rem !important;
}
